@mixin grid ($columns,$rows){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}
/*
*CENTER VERTICALLY
*/
@mixin center-vertically {
    display: grid;
    align-content: center;
}