/* 
*COLORS
*/
$colors : (
    Cyan: hsl(179, 62%, 43%),
    Light-Gray: hsl(204, 43%, 93%),
    Grayish-Blue: hsl(218, 22%, 67%),
    Bright-Yellow: hsl(71, 73%, 54%)
);

/*
*FONTS 
*/
$Karla : "Karla",monospace;